 .Ajax-wrapper {
     display: grid;
     grid-template-rows: 8% 55% 27% 10%;
     grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
 }


 .Ajax-information {
     margin-top: 2%;
     margin-left: 2%;
     margin-right: 2%;
     margin-bottom: 1%;
     font-size: 150%;
     grid-column-start: 1;
     grid-column-end: 21;
     grid-row-start: 1;
     grid-row-end: 2;
 }

 .Ajax-ArenA img {
     width: 100%;

 }

 .Ajax-ArenA {
     grid-column-start: 1;
     grid-column-end: 21;
     grid-row-start: 2;
     grid-row-end: 4;
     margin-left: 2%;
     margin-right: 2%;

 }

 .Ajax-article-cards {


     width: 50%;
     margin-left: 25%;
     display: flex;
     justify-content: center;
     margin-top: 1%;




 }

 .Ajax-articles {
     grid-column-start: 1;
     grid-column-end: 21;
     grid-row-start: 3;
     grid-row-end: 4;

     background-color: maroon;
     opacity: 0.8;
     margin-left: 2%;
     margin-right: 2%;
     overflow: hidden;


 }

 /* .Ajax-opacity {
     background-color: red;
     opacity: 0.4;
     grid-column-start: 1;
     grid-column-end: 21;
     grid-row-start: 3;
     grid-row-end: 4;
 } */

 .Ajax-articles a {
     color: white;
     text-decoration: none;

 }