body {

  background-color: lightblue;
}


.App {
  grid-template-rows: 2% 98%;
  grid-template-columns: 10% 80% 10%;
  display: grid;
  height: 100%;
  width: 100%;
}



nav {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
  background-color: black;

}

.main {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;



}