@media only screen and (min-width: 421px) {
    .contact-introduction {

        background-color: white;
        padding: 4%;

        font-size: 125%;
        color: black;

    }

    .contact-wrapper {
        background-color: white;
        height: auto;
        background-color: teal;
        padding-top: 2%;
        padding-bottom: 2%;
    }





    .introduction-content {
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .contact {
        background-color: black;
        color: white;
        display: flex;
        justify-content: flex-end;

        width: 100%;

    }

    .contact-form-wrapper {
        width: 100%;
        padding: 2%;
    }

    form {
        display: flex;
        flex-direction: column;

    }

    form input {
        width: 50%;
    }

    form textarea {
        width: 50%;
        height: 100px;

    }

    .submit-button {
        width: 10%;
    }


    .contact-direct-wrapper {
        padding: 2%;
        background-color: white;
        border-style: solid;
        border-width: 4px;
        border-color: black;
        width: 60%;

    }


    .contact-form-header {
        padding-bottom: 2%;
        font-size: 160%;
    }

    .contact-direct-header {
        padding-bottom: 2%;
        font-size: 160%;
        color: black;
    }

    .contact-direct-phone {
        display: flex;
        justify-content: flex-start;
        color: black;

    }

    .contact-direct-phone-width {
        width: 10%;

    }

    .contact-direct-phone-text {
        font-size: 125%;
        padding: 2%;

    }


    .contact-direct-phone img {
        width: 100%;
    }


    .contact-direct-email {
        display: flex;
        justify-content: flex-start;
        color: black;
    }

    .contact-direct-email-width {
        width: 10%;

    }

    .contact-direct-email img {
        width: 100%;
    }

    .contact-direct-email div {
        width: 10%;
    }

    .contact-direct-email-text {
        font-size: 125%;
        padding: 2%;

    }

    .contact-background-below {
        background-color: white;
        padding: 4%;

    }
}


@media only screen and (max-width: 420px) {
    .contact-introduction {

        background-color: white;


        font-size: 100%;
        color: black;

    }

    .contact-wrapper {
        background-color: white;
        height: auto;
        /* width: 100%; */

        padding-top: 2%;
        padding-bottom: 2%;
    }





    .introduction-content {

        padding: 0px;
    }

    .contact {
        background-color: black;
        color: white;

        margin-left: 0px;
    }


    .contact-form-wrapper {
        width: 100%;

    }

    form {

        margin-left: 5%;
        display: flex;
        flex-direction: column;

    }



    form input {
        width: 90%;

    }

    form textarea {
        width: 90%;

        height: 100px;

    }

    .contact-submit-button {

        width: 92%;
    }


    .contact-direct-wrapper {

        background-color: white;

        margin-top: 10%;

    }


    .contact-form-header {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        font-weight: bold;
        font-size: 90%;
    }

    .contact-direct-header {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        font-weight: bold;
        font-size: 90%;
        color: black;
    }

    .contact-direct-phone {
        display: flex;
        justify-content: flex-start;
        color: black;
        margin-left: 5%;
    }

    .contact-direct-phone-width {
        width: 10%;

    }

    .contact-direct-phone-text {
        font-size: 100%;
        padding: 2%;

    }


    .contact-direct-phone img {
        width: 100%;
    }


    .contact-direct-email {
        display: flex;
        justify-content: flex-start;
        color: black;
        margin-left: 5%;
    }

    .contact-direct-email-width {
        width: 10%;

    }

    .contact-direct-email img {
        width: 100%;
    }

    .contact-direct-email div {
        width: 10%;
    }

    .contact-direct-email-text {
        font-size: 100%;
        padding: 2%;

    }


}