.FCZSW-wrapper img {
    width: 100%;

}

.FCZSW-wrapper {

    overflow: hidden;

}

.FCZSW-information {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    font-size: 150%;




}

.FCZSW-articles {

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;





}

.FCZSW-magazines-and-hall-of-fame {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: wheat;
    border-radius: 5%;
    ;
}

.FCZSW-magazines {
    padding: 2%;
    margin-left: 1%;

    width: 26.5%;

}

.FCZSW-hall-of-fame {
    padding: 2%;
    margin-left: 1%;

    font-size: 150%;
    width: 50%;

}



.FCZSW-articles-header {
    background-color: white;
    text-align: center;
    font-size: 200%;
    font-weight: bold;

    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.FCZSW-article-cards {
    padding: 1%;
    font-size: 150%;
    background-color: red;
    border-style: solid;
    border-color: white;
    border-width: 1px;

}


.FCZSW-article-cards a {
    color: white;
    text-decoration: none;

}