.resume-wrapper-large {


    background-color: white;
    grid-template-columns: 32% 67.9% 0.1%;

    grid-template-rows: 2% 96% 2%;


    height: 3800px;
    font-size: 120%;




    display: grid;

}

.resume-wrapper-small {


    background-color: white;
    grid-template-columns: 32% 67.9% 0.1%;

    grid-template-rows: 2% 96% 2%;


    height: 2500px;
    font-size: 120%;




    display: grid;

}


.resume-top {
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;


}

.resume-left {
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.resume-right {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2%;


}

.resume-bottom {
    background-color: green;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

}

.resume-right-line {
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;

}

.resume-name {

    font-size: 2em;
    text-align: center;
    color: green;
    font-weight: bold;
}

.resume-profession {
    font-size: 1.5em;
    text-align: center;
    color: green;
}

.resume-daanfoto-wrapper {
    display: flex;
    margin-top: 3%;
}

.resume-daanfoto {
    width: 20%;
    border-radius: 100%;


}



.resume-introduction {
    margin-left: 2%;
    /* margin-top: 2%; */
    color: navy;
}

.resume-career-summary-heading {
    font-size: 1.5em;
    color: green;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-left: 2%;
}

.resume-jobinfo-wrapper {
    display: flex;



}

.resume-bold {

    font-weight: bold;


}

.resume-margin {
    width: 32%;
}

.resume-italic {
    font-style: italic;
}

.resume-jobinfo {
    width: 70%;


}

.resume-coding-projects {
    text-align: center;

    font-weight: bold;
    font-size: 1.4em;
}


.resume-project-links {
    color: coral;
}

.resume-career-summary-wrapper {
    color: navy;


}

.resume-green-header {
    color: green;
    font-size: 125%;
    text-align: center;
    font-weight: bold;

}

.resume-more-past-experience {
    text-align: center;
    font-size: 125%;
    color: red;
    font-weight: bold;
}